

.outer_header{
    /* sticky only work with itself parent */
   position: sticky;
    top: 0;
    z-index: 1000;

    width: 100dvw;
    height: 16.5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5rem 10rem;
    background-color: var(--primary-color);
}

.outer_header  .logo a{
    font-size: 6rem;
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.outer_header .menu{
    font-size: 6rem;
    color: var(--secondary-color);
    cursor: pointer;
}
.navLinks_active{
    display: inline-flex !important;
}

.outer_header .navLinks{
    position: absolute;
    left: 0rem;
    top:14rem;
    padding: 5rem;
    background-color: var(--primary-color);
    min-height: min-content;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.outer_header .navLinks li{
    list-style: none;
    width: 100vw;
    text-align: center;
    margin-block: 5rem;
    font-size: 6rem;
}
.outer_header .navLinks li a{
    text-decoration: none;
    color: var(--secondary-color);
}

.navLinks li a:hover , .logo a:hover{
    color: #ffffff;
    transition: all 0.3s ease;
}
.outer_header .btn{
    background-color: var(--button-color);
    border: none;
    padding: 2rem 4rem;
    border-radius: 10rem;
    cursor: pointer;
    font-size:4rem;
}
.outer_header .btn a{
    text-decoration: none;
    color: black;
}

.external-icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}



@media  screen and (max-width:992px) {


    .outer_header .navLinks{
        display: none;
    }
}

@media screen and (min-width:992px) { 
  
.outer_header{
    display: flex;
    flex-direction: row;
}
   
.outer_header .navLinks{
    position: static;
    padding: 0rem;
    display: contents;

}

.outer_header .navLinks li{
    position: normal;
    display: inline-block;
    width: auto;
    margin-inline: 2.5rem;
    font-size: 3.5rem;
}
    
.outer_header .btn{
    font-size:4rem;}

    .outer_header .menu{
        display: none;
    }
   
}

@media screen and (min-width:1220px){
    .outer_header{
        padding-inline:calc((100vw - 1200px) / 2);
    }
}