.hero-section{
    background-color: var(--primary-color);
    height: calc(100dvh - 17rem);
    width: 100dvw;
    padding-inline:5%;
    /* margin-top: 16.5rem; */
}

  
.proImg{
    width: 80%;
    height: 100rem;
    background-image:url('../assets/images/imgi_2_7gnxSykfdAsj4n7wNjouFyG6UA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}

.hero1,.hero2{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.hero1  p:first-child{
    font-size:12rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 12rem;

}

.hero1  p:nth-child(2){
    font-size:4rem;
    color: var(--secondary-color);
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: 400;
    line-height: 5rem;

}

@media screen and (min-width:992px) {
    
.hero1,.hero2{
    width:50%;
    text-align: center;
}
}