.hero-section{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    /* height: calc(100dvh - 17rem); */
    width: 100dvw;
    padding-inline:10rem;
    /* margin-top: 16.5rem; */
}

  
.proImg{
    width: 80%;
    height: 100rem;
    background-image:url('../assets/images/imgi_2_7gnxSykfdAsj4n7wNjouFyG6UA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
    border-radius: 4rem;
}

.emoji , .gcard{
    position:absolute;
}

.hero1 svg{
    width:80rem;
    height: 80rem;
    color:whitesmoke;
    margin-right: 1rem;
    vertical-align: middle;
}

.hero1,.hero2{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   height: inherit;
}

.hero1 p{
    width: 100%;
    text-align: left;
}

.hero1  p:first-child{
    font-size: 10rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 10rem;

}

.hero1  p:nth-child(2){
    font-size:6rem;
    color: var(--secondary-color);
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: 400;
    line-height: 5rem;

}

.hero1 .btns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
}




.hero1 .btns .btn:nth-child(1){
    background-color: var(--button-color);
}

.hero1 .btns .btn:nth-child(2){
    background-color: var(--button-secondary-color);
    color: #ffffff;
}

@media screen and (min-width:992px) {

.hero-section{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;
    height: calc(100dvh - 17rem);
}


.hero1 .btns{
    flex-direction: row;
}

.hero1,.hero2{
    width:50%;
    text-align: center;
}
}